/* You can add global styles to this file, and also import other style files */
body
{
    background-color: gray;
}
img
{
    height: 200px;
    width: 250px;
    justify-content: space-between;
}
button{
    background-color: black;
    color: white;
    margin: 4px;
}
.class
{
height: 350px;
width: 280px;
box-shadow:5px 5px 5px black ;
}

