
<h1>My Movie Components</h1>
<div id="movies">
<app-movie [img]="img1" title="Life on Our Planet"></app-movie>
<app-movie [img]="img2" title="Captains of the World"></app-movie>
<app-movie [img]="img3" title="The Hunf for Veerappan"></app-movie>
<app-movie [img]="img4" title="Predators"></app-movie>
<app-movie [img]="img5" title="The Elephant Whisperers"></app-movie>
<app-movie [img]="img6" title="Return to Space"></app-movie>
<app-movie [img]="img7" title="Rise of Empires: Ottoman"></app-movie>
</div>