<h1>Biriyani Items</h1>
<div id="foods">
<app-food [img]="img1" title="Hyderabadi Biryani"></app-food>
<app-food [img]="img2" title="Lucknowi Biryani"></app-food>
<app-food [img]="img3" title="Malabar biryani"></app-food>
<app-food [img]="img4" title="Awadhi Biryani"></app-food>
<app-food [img]="img5" title="Behrouz Biryan"></app-food>
<app-food [img]="img6" title="Afghani Biriyani"></app-food>
<app-food [img]="img7" title="Kacchi Biriyani"></app-food>
<app-food [img]="img8" title="Sindhi Biryani"></app-food>
</div>
<h1>Pizza Items</h1>
<div id="foods">
<app-food [img]="img9" title="Rodeo Pizza"></app-food>
<app-food [img]="img10" title="Eva's Pizza"></app-food>
<app-food [img]="img11" title="New York Pizza"></app-food>
<app-food [img]="img12" title="Smokin' Joe's"></app-food>
<app-food [img]="img13" title="Tossin Pizza"></app-food>
<app-food [img]="img14" title="Pizza Mania"></app-food>
<app-food [img]="img15" title="Pizza 360 Degree"></app-food>
<app-food [img]="img16" title="Chicago Pizza"></app-food>
</div>
